.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.siteName {
    font-size: 48px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-top: 20px;
}
.profilePicture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: 20px 0;
}